<app-header></app-header>
<div class="titre">
    <h2 class="text-center py-5">Qui sommes nous?</h2>
    <hr class="border-5 border-black opacity-100">
  </div>
<div class="content d-flex flex-direction-column">
    <div class=" container text-left card px-5 py-5 my-5 shadow-lg">
        <P class="d-flex justify-content-center">
            Bienvenue chez "Au petit village", l'atelier où la magie de la bande dessinée rencontre l'art de la figurine. Nous sommes une entreprise passionnée,<br>
            spécialisée dans la création de figurines uniques inspirées des célèbres aventures d'Astérix et Obélix. Chaque pièce est minutieusement confectionnée pour capturer l'esprit et l'humour des Gaulois, offrant ainsi à nos clients des objets de collection qui éveilleront leur nostalgie.<br><br>


            Notre collection est spécialement conçue pour une clientèle jeune, âgée de 30 à 55 ans, qui a grandi en suivant les exploits de ces personnages légendaires.<br>
            Que vous soyez un fan inconditionnel des albums d'Astérix ou simplement un amoureux de figurines de qualité, vous trouverez ici des produits qui sauront raviver vos souvenirs d'enfance.<br><br>
            
            Chez "Au petit village", nous croyons en l'authenticité et dans la qualité artisanale. Chaque figurine est le fruit d'un travail soigné,<br> 
            respectueux des détails et fidèle à l'univers créé par Goscinny et Uderzo. Que ce soit pour ajouter à votre collection ou offrir un cadeau original, nos figurines sont l'élément idéal pour ramener un peu de la magie de la Gaule dans votre quotidien.<br><br>
            
            Nous sommes fiers de faire revivre l'esprit de la célèbre bande dessinée tout en proposant des produits faits pour durer. Plongez dans l'univers des irréductibles Gaulois et laissez-vous séduire par nos créations uniques !
        </P>
    </div>

</div>
<app-footer class="footer"></app-footer>