<footer class="text-center text-white" style="background-color:#151217">
    <div class="container">
      <!-- Section des liens-->
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">

          <!--colonne à propos -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLink="/about" class="text-white">À propos</a>
            </h6>
          </div>
          <!-- colonne à propos -->

          <!--colonne accueil -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLink="/" class="text-white">Accueil</a>
            </h6>
          </div>
          <!-- colonne accueil -->


        </div>
      </section>

      <hr class="my-5" />

      <!-- Section Texte -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>
      <!-- Section Texte -->

      <!-- Section des réseaux sociaux -->
      <section class="text-center mb-5">
        <a href="https://www.facebook.com" target="_blank" class="text-white me-4">
          <img src="facebook.png" width="40" height="40">
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-white me-4">
          <img src="instagram.png" width="40" height="40">
        </a>
        <a href="https://www.twitter.com" target="_blank" class="text-white me-4">
          <img src="twitter.png" width="40" height="40">
        </a>
      </section>
      <!-- Section des réseaux sociaux -->

    </div>

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.1)">
      <p class="text-white"> © 2025 Copyright: Au petit village</p>
    </div>
    <!-- Copyright -->
     
  </footer>

