<main class="main">

    <app-header></app-header>
    <app-caroussel></app-caroussel>

    <div class="titre">
      <h2 class="text-center py-5">Nos produits</h2>
      <hr class="border-5 border-black opacity-100">
    </div>

    <div class="content container-fluid">


      <!-- trie par prix et filtrage par nom-->

      <div class="container d-flex justify-content-between align-items-center">

        <button class="btn btn-primary" (click)="toggleOrder()">Trier par prix {{ sortOrder === 'asc' ? 'croissant' : 'décroissant' }}</button>

        <div>
          <input type="text" class="form-control" placeholder="Rechercher par nom" [(ngModel)]="searchTerm">
        </div>

      </div>
      
       <!-- affichage des card bootstrap avec pipes pour récupérations des infos des produits-->
      <div class="row">
        <app-card [produits]="produits | filter:searchTerm | sortByPrice : sortField : sortOrder"></app-card>
      </div>


    </div>

    <app-footer class="footer"></app-footer>

  </main>